@font-face {
    font-family:Geotop_Fuente;
    src: url('../Fonts/goudy-old-style/Goudy\ Old\ Style\ Bold.ttf');

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}

:root{

    --color-texto-Geo-Top:rgb(5, 19, 99);
    --color-verde-logo:rgb(88, 215, 40);
}

body{
    background-color: azure;
}

header{
    background-color: rgb(255, 255, 255);  
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:1px solid black;
}

a{
    text-decoration: none;    
}


nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 14vh;
    padding: 0 2vw;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(215, 240, 250); */
}


#Geo-top-text{
    font-size: 3vw;
    color: var(--color-texto-Geo-Top);
    font-weight: bold;
    font-family: Geotop_Fuente;
    width: 60vw;
    min-width: 15vw;
}

a.pestaña-nav{
    color: var(--color-texto-Geo-Top);
    font-size: 1.5vw;
    margin: 0 0.5vw;
    border: 1.5px solid var(--color-texto-Geo-Top);
    padding: 0.25vw 1vw;
    border-radius: 1em/0.5em;
    transition: 0.3s;
}

@media screen and (max-width:1000px){
    
    #Geo-top-text{
        font-size: 6vh;
    }
    a.pestaña-nav{
        font-size: 3vh;
    }
}

@media screen and (max-width:640px){
    
    #Geo-top-text{
        font-size: 4vw;
    }
    a.pestaña-nav{
        font-size: 2.5vh;
    }
}

a.pestaña-nav:hover{
    border: 6px solid var(--color-texto-Geo-Top);
}

#contenedor-logo{
    height: 80vh;    
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom:1px solid black; */
}

#logo-grande{
    background-image: url('../images/Logo_Geotopos.jpg');
    width: 60vh;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}

#contenedor-secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion{
    width: 90%;
    height: 60vh;
    padding: 3vh 2vw;
    border-top:1px solid rgb(182, 182, 182);
    margin: 2vh 0;
}

.seccion:nth-child(1){
    border-top: 0;

}

.seccion:nth-child(3){
    border-bottom: 0;
    margin-bottom: 0;
}

footer{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 25vh;
    background-color: black;
    color: white;
    font-size: 2.7vh;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 4vh 0;
}


footer a, footer p{
    text-align: center;
    color: white;
    width: 100%;
}

footer a:hover{
    color: rgb(148, 144, 144);
}

.texto-geo-top-pequeño{
    font-family: Geotop_Fuente;    
    font-size: 3vh;
}

