@font-face {
    font-family:Geotop_Fuente;
    src: url('../Fonts/goudy-old-style/Goudy\ Old\ Style\ Bold.ttf');

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}

:root{

    --color-texto-Geo-Top:rgb(5, 19, 99);
    --color-verde-logo:rgb(88, 215, 40);
}

body{
    background-color: rgb(244, 239, 239);
    /* background-image: linear-gradient(to right bottom,rgb(185, 232, 186), rgb(210, 229, 255)); */
    /* background-image: linear-gradient(to right bottom, rgb(255, 255, 255),rgb(195, 227, 182)); */
    background-image: radial-gradient(white,rgb(245, 243, 243));
    background-attachment:fixed ;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);  
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:2px solid rgb(152, 152, 152);
}

a{
    text-decoration: none;    
    display: block;
}

#contenedor-nav{
    position: sticky;
    left: 0;
    top: 0;
}

nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 14vh;
    padding: 0 2vw;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(215, 240, 250); */
    z-index: 1;
    background-color: azure;
    /* background-image: linear-gradient(rgb(194, 255, 171) ,azure,rgb(194, 255, 171)); */
    border-bottom: 2px solid var(--color-texto-Geo-Top);
}

#Geo-top-text{
    font-size: 3vw;
    color: var(--color-texto-Geo-Top);
    font-weight: bold;
    font-family: Geotop_Fuente;
    width: 65vw;
    min-width: 15vw;
}

a.pestaña-nav{
    color: var(--color-texto-Geo-Top);
    font-size: 1.5vw;
    margin: 0 0.5vw;
    border: 1.5px solid var(--color-texto-Geo-Top);
    padding: 0.25vw 1vw;
    transition: 0.3s;
}

#boton-inicio, #boton-trabajos, #boton-equipos, #boton-servicios{
    background-color: var(--color-texto-Geo-Top);
    color: white;
    border-radius: 1em/0.5em;
    color: white;
}

a.pestaña-nav:hover{
    /* border: 4px solid var(--color-texto-Geo-Top); */
    background-color: var(--color-texto-Geo-Top);
    color:white;
    border-radius: 1em/0.5em;
}

#contenedor-logos{
    height: 86vh;  
    width: 30vw;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border:1px solid black; */
}

#logo-grande{
    background-image: url('../images/Logo_Geotopos.jpg');
    width: 30vw;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    background-position: center;
    
}

#logos1{
    /* border:1px solid black; */
    border-radius: 20%/20%;
    width: 9vw;
    height: 16vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: cambiarLogo1 10s linear infinite;
    /* box-shadow:4px 4px 6px rgba(0,0,0,0.5); */
}

#logos2{
    /* border:1px solid black; */
    border-radius: 20%/20%;
    width: 9vw;
    height: 16vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: cambiarLogo2 10s linear infinite;
    /* box-shadow:4px 4px 6px rgba(0,0,0,0.5); */
}

#logos3{
    /* border:1px solid black; */
    border-radius: 20%/20%;
    width: 9vw;
    height: 16vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: cambiarLogo3 10s linear infinite; 
    /* box-shadow:4px 4px 6px rgba(0,0,0,0.5); */
}

@keyframes cambiarLogo1{
    0%{
        background-image: url('../images/Leica\ Geosystems\ Logo.png');
    }
    20%{
        background-image: url('../images/Autocad\ Logo.jfif');
    }

    50%{
        background-image: url('../images/Autocad\ Logo.jfif');
    }

    70%{
        background-image: url('../images/Leica\ Geosystems\ Logo.png');
    }
    
    100%{
        background-image: url('../images/Leica\ Geosystems\ Logo.png');
    }
}

@keyframes cambiarLogo2{
    0%{
        background-image: url('../images/topcon\ Logo.png')
    }

    20%{
        background-image: url('../images/Datamine\ Logo.png');
    }

    50%{
        background-image: url('../images/Datamine\ Logo.png');
    }

    70%{
        background-image: url('../images/topcon\ Logo.png')
    }
    
    100%{
        background-image: url('../images/topcon\ Logo.png')
    }
}

@keyframes cambiarLogo3{
    0%{
        background-image: url('../images/GARMIN\ logo.png')
    }

    20%{
        background-image: url('../images/Global\ Mapper\ logo.png');
    }

    50%{
        background-image: url('../images/Global\ Mapper\ logo.png');
    }

    70%{
        background-image: url('../images/GARMIN\ logo.png')
    }
    
    100%{
        background-image: url('../images/GARMIN\ logo.png')
    }
}


#contenedor-menu-desplegable{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#Menu-Desplegable{
    position: absolute;
    margin-top: 31vh;
    display: none;
    
}

#Menu-Desplegable a:nth-child(1){
    border-top: 2px solid transparent;
}

#Menu-Desplegable a{
    height: 5vh;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: var(--color-texto-Geo-Top);
    text-align: center;
    width: 12vw;
    height: 9vh;
    line-height: 3vh;
    font-weight: 300;
    transition: 0.25s;
}

#contenedor-menu-desplegable:hover #Menu-Desplegable, #Menu-Desplegable:hover{
    display: block;
    height: 26vh; 
    padding-top: 2vh;
}

#Menu-Desplegable a:hover{
    border-radius: 30%/30%;
}


#texto-header-izquierda, #texto-header-derecha{
    width: 32vw;
    height: 86vh;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.titulo-seccion-izquierda-derecha{
    text-align: center;
    font-size: 4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
}

#lista-seccion-izquierda{
    font-size: 2vw;
    padding-right: 2vw;
    line-height:10vh ;
    list-style-type: square;
}

#lista-seccion-derecha{
    font-size: 2vw;
    line-height:15.1vh ;
    /* border: 1px solid black; */
    padding-left: 8vw;
    list-style-type: square;
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* display: block; */
}

.doble-linea{
    line-height: 5.5vh;
}

#contenedor-secciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.seccion{
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    width: 90%;
    padding: 3vh 2vw;
    border-top:1px solid rgb(152, 152, 152);
    margin: 0.5em 0.5em;
    justify-content: center;
    align-items: center;
}

.seccion:nth-child(1){
    border-top: 0;
}
/* POR EL MOMENTO LA SECCION DE TRABAJOS REALIZADOS NO SE DESPLEGARA */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.seccion:nth-child(2){
    display:none
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.seccion:nth-child(3){
    flex-direction: row-reverse;
}

.seccion:nth-child(4){
    border-bottom: 0;
    margin-bottom: 1,5em;
}

.titulo-secciones{
    width: 100%;   
    margin: 0.5em 0 0 0;
    font-size: 2.5vw;
}

#Segundo{
    text-align: right; 
}

.descripcion-secciones{
    width:65%;
    height: 50vh;
    border: 1px solid black;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius:40px;
}

.descripcion-secciones p{
    width: 95%;
    font-size: 1.5vw;    
}

.boton-seccion-ver-mas{
    background-color: rgb(255, 94, 2);
    width: 10vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.3vw;
    border-radius: 10%/20%;
    color: white;
}

#titulo-presentacion{
    text-align: center;
    margin: 0.5em;    
}

#contenido-presentacion{
    font-style: italic;
    font-size: 1.5vw;
    padding: 0 20%;
}

.contenedor-imagenes-seccion{
    width: 30%;
    height: 50vh;
    border: 1px solid black;    
    margin: 0 2vw;
    border-radius: 25%/12.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:8px 8px 12px rgba(0,0,0,0.5);
    background-color: white;
}

#imagenes-trabajo{
    background-image: url('../images/Img-Datamine-3d\ 2.png');
}

#imagenes-equipos{
    animation: imagenes_equipos linear 30s infinite;    
}

@keyframes imagenes_equipos {
    0%{
        background-image: url('../images/Leica\ TCR-407.jpg');
    }

    8%{
        background-image: url('../images/Prisma.png');
    }

    16.6%{
        background-image: url('../images/Prisma.png');
    }

    25%{
        background-image: url('../images/Tripode\ y\ baston.png');
    }

    33.2%{
        background-image: url('../images/Tripode\ y\ baston.png');
    }

    41%{
        background-image: url('../images/Gps\ y\ Brujula.png');
    }

    49.8%{
        background-image: url('../images/Gps\ y\ Brujula.png');
    }

    57.8%{
        background-image: url('../images/Regla\ mas\ nivel.png');
    }

    65.4%{
        background-image: url('../images/Regla\ mas\ nivel.png');
    }

    73.4%{
        background-image: url('../images/Drone\ phamtom\ 4.jpg');
    }

    82%{
        background-image: url('../images/Drone\ phamtom\ 4.jpg');
    }

    90%{
        background-image: url('../images/Leica\ TCR-407.jpg');
    }

    100%{
        background-image: url('../images/Leica\ TCR-407.jpg');
    }

}

footer{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 25vh;
    background-color: black;
    color: white;
    font-size: 2.7vh;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 4vh 0;
}

footer a, footer p{
    text-align: center;
    color: white;
    width: 100%;
}

footer a:hover{
    color: rgb(148, 144, 144);
}

.texto-geo-top-pequeño{
    font-family: Geotop_Fuente;    
    font-size: 3vh;
}

/* MEDIA QUERIES */

@media screen and (max-height:500px){
    #Menu-Desplegable{
        margin-top: 32vh;
    }
}

@media screen and (max-height:280px){
    #Menu-Desplegable{
        margin-top: 34vh;
    }
}

@media screen and (orientation:portrait){
    #texto-header-izquierda,#texto-header-derecha{
        display: none;
    }

    #contenedor-logos{
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #logo-grande{
        width: 90vw;
    }

    #logos1, #logos2, #logos3{
        width: 25vw;
    }

}

@media screen and (min-width:850px) and (max-width:1000px){
    
    #Geo-top-text{
        font-size: 3.5vw;
    }
    a.pestaña-nav{
        font-size: 2vw;
    }
}

@media screen and (min-width:401px) and (max-width:849px){

    #Geo-top-text{
        font-size: 3.5vw;
    }
    a.pestaña-nav{
        font-size: 2.7vw;
    }

}

@media screen and (orientation:portrait) and (min-width:501px) {
    .descripcion-secciones{
        height: 25vh;
    }

    .contenedor-imagenes-seccion{
        height: 25vh;
    }

    .boton-seccion-ver-mas{
        height: 5vh;
    }
}

@media screen and (orientation:portrait) and (max-width:500px) {

    .pestaña-nav{
        display: none;
    }    

    nav{
        justify-content: space-between;
    }

    #Geo-top-text{
        width: 100%;
        font-size: 10vw;
        text-align: center;
    }

    .titulo-secciones{
        font-size: 7vw;
        text-align: center;
    }

    .contenedor-secciones{
        margin: 2vh 2vh;
    }

    .seccion{
        margin: 2vh 2vh;        
    }

    #contenido-presentacion{
        font-size: 2vh;
        text-align: center;
    }

    .descripcion-secciones{
        width: 270px;
    }
    .descripcion-secciones p{
        font-size: 2vh;
        display: flex;
        flex-wrap: wrap;
    }

    .boton-seccion-ver-mas{
        background-color: rgb(255, 94, 2);
        width: 20vw;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 2.6vw;

    }
    .contenedor-imagenes-seccion{
        width: 270px;
        height: 300px;
    }

    .contenedor-imagenes-seccion{
        box-shadow:2px 2px 4px rgba(0,0,0,0.4);
    }

    #Segundo{
        text-align: center;
    } 
    
}



@media screen and (orientation:landscape) and (max-height:300px){
    #Geo-top-text{

        font-size: 8vh;

    }
}


